---
import NextJSicon from "./icons/NextJS.astro";
import Tailwindicon from "./icons/Tailwind.astro";
import JavaScripticon from "./icons/JavaScript.astro";
import TypeScripticon from "./icons/TypeSript.astro";
import LinkButton from "./LinkButton.astro";
import GitHub from "./icons/GitHub.astro";
import Link from "./icons/Link.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class:
      "bg-white/5  border border-black/30 black:border border-white/10 text-black dark:text-white transition hover:scale-105 ",
    icon: NextJSicon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class:
      "bg-white/5  border border-black/30 black:border border-white/10 text-black dark:text-white tsransition hover:scale-105 ",
    icon: Tailwindicon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class:
      "bg-white/5  border border-black/30 black:border border-white/10 text-black dark:text-white transition hover:scale-105 ",
    icon: JavaScripticon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class:
      "bg-white/5  border border-black/30 black:border border-white/10 text-black dark:text-white transition hover:scale-105 ",
    icon: TypeScripticon,
  },
};
const PROJECTS = [
  {
    title: "Aprende+ Colombia - Plataforma de cursos en línea Colombiana",
    description:
      "Creada con Next.js y Tailwind CSS, es una plataforma de cursos especializados en áreas como Tecnología, Data y Economía. Su base de datos esta basada en SQL, con API integrada y una app en desarrollo. Esta plataforma se encuentra en constante actualización para dar una excelente experiencia de usuario.",
    link: "www.aprendemascol.com",
    github: "https://github.com/Soy-Sebas/aprendeMasCo",
    image: "/photos/projectAP.webp",
    tags: [TAGS.NEXT, TAGS.JAVASCRIPT, TAGS.TAILWIND, TAGS.TYPESCRIPT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">

          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Un proyecto creado desde el corazón"
              class="object-cover object-top w-full h-60 transition duration-500 sm:h-full md:group-hover:scale-110"
              loading="lazy"
              src={image}
            />
          </div>
          <ul class="flex flex-wrap text-black mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full mt-2 text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
           

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-4 md:size-6"/>
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4 md:size-6"/>
              Preview
            </LinkButton>
          )}
        </footer>
          </div>
      </article>
    ))
}
